*{
    margin: 0;
    padding: 0;
    transition: 1s all;
}

nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
    background-color: white;
    box-shadow: 0px 0px 30px whitesmoke;
}

nav a{
    padding: 17px;
    /* margin-right: 40px; */
    text-decoration: none;
    color: black;
    transition: all 0.4s linear;
}

nav a:hover{
    /* background-color: whitesmoke; */
    box-shadow:rgba( 0,0,0,0.8) 0px 5px 4px,inset rgba(184, 176, 176, 0.15) 0px -10px 20px ;
}
#opennav{
    display: none;
    cursor: pointer;
}

@media screen and (max-width: 745px) {
    #opennav{
        display: block;
        font-size: 30px;
    }
    #nav{
        position: absolute;
        top: 79px;
        right: 0px;
        width: 0px;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0px 10px 10px 0px ;
        overflow: hidden;
    }
    #nav.show{
        width: 200px;

    }
}

@media screen and (max-width: 400px) {
    #opennav{
        display: block;
        font-size: 30px;
    }
    #nav{
        position: absolute;
        top: 79px;
        right: 0px;
        width: 0px;
        height: 100%;
        display: flex;
        flex-direction: column;
        background-color: #fff;
        box-shadow: 0px 10px 10px 0px ;
        overflow: hidden;
    }
    #nav.show{
        width: 150px;

    }
}

    @media screen and (max-width: 340px) {
        #opennav{
            display: block;
            font-size: 30px;
        }

        nav h1{
            font-size: 20px;
        }
        #nav{
            position: absolute;
            top: 79px;
            right: 0px;
            width: 0px;
            height: 100%;
            display: flex;
            flex-direction: column;
            background-color: #fff;
            box-shadow: 0px 10px 10px 0px ;
            overflow: hidden;
        }
        #nav.show{
            width: 140px;
    
        }
    }

    .main{
        display: flex;
        justify-content: space-between;
        background-color: #DDDDDD;
        height: 90vh;
    }

    .sub{
     margin-top: 200px;
     margin-left: 150px;
    }
    .main h4{
        font-weight: 10;
        margin: 25px 0px 15px 0px;
    }

    .main h2{
        font-weight: 100;
        color: #fff;
       background:linear-gradient(to bottom,rgb(37, 20, 20), rgb(68, 66, 66));
        width: 38%;
        text-align: center;
        padding: 10px;
        font-size: 20px;
        cursor: pointer;
        margin-top: 20px;
        font-weight: 100;
    }

    .main h2:hover{
        box-shadow:rgba( 0,0,0,0.8) 0px 5px 4px,inset rgba(184, 176, 176, 0.15) 0px -10px 20px ;
    }

    .im{
        width:350px;
        height: 300px;
    }

    .imgg{
        width: 350px;
        margin-right: 100px;
        margin-top: 40px;
        height: 75vh;
    }